In [2]:
import pandas as pd
# pandas.__version__

In [3]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [4]:
df_towns = pd.read_excel('towns.xlsx',)
df_towns

                 Name    District
0                Aali       South
1             Ali Pur  North West
2               Asola       South
3           Aya Nagar       South
4           Babar Pur  North East
..                ...         ...
108       Tikri Khurd  North West
109  Tilang Pur Kotla        West
110       Tukhmir Pur  North East
111              Ujwa  South West
112      Ziauddin Pur  North East

[113 rows x 2 columns]

In [5]:
from opencage.geocoder import OpenCageGeocode
key = "f17e3adbd2fc4d81ac431f466dfcbe87"  
geocoder = OpenCageGeocode(key)

In [7]:




list_lat = []   # create empty lists
list_long = []


	
for index, row in df_towns.iterrows(): # iterate over rows in dataframe
    Town = row['Name']
#     State = row['State']       
#     query = str(City)+','+str(State)
    query = str(Town)+','+ "Delhi"

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
   
    list_lat.append(lat)
    list_long.append(long)

	
# create new columns from lists    

df_towns['lat'] = list_lat   

df_towns['lon'] = list_long

In [8]:
df_towns

                 Name    District        lat        lon
0                Aali       South  28.520706  77.306872
1             Ali Pur  North West  28.653810  77.228970
2               Asola       South  28.495349  77.266529
3           Aya Nagar       South  28.476491  77.132913
4           Babar Pur  North East  28.653810  77.228970
..                ...         ...        ...        ...
108       Tikri Khurd  North West  28.835662  77.118426
109  Tilang Pur Kotla        West  28.653810  77.228970
110       Tukhmir Pur  North East  28.653810  77.228970
111              Ujwa  South West  28.569963  76.909343
112      Ziauddin Pur  North East  28.653810  77.228970

[113 rows x 4 columns]

In [11]:
df_towns.to_excel("output.xlsx")

In [13]:
output.xlsx

NameError: name 'output' is not defined